*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  color: $text-color;
  padding: 35px 15px;
  overflow-x: hidden;
  background: linear-gradient(
    to bottom right,
    $secondary-gradient-color,
    $primary-gradient-color
  );
  background-attachment: fixed;
  font-family: 'Poppins', 'system-ui', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

button {
  user-select: none;
  font-family: inherit;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}

main {
  max-width: 1200px;
  margin-left: auto;
  position: relative;
  margin-right: auto;
}

section {
  border-radius: 30px;
  min-height: calc(100vh - 70px);
  border: 1px solid $white-alpha-40;
  background-color: $white-alpha-25;
  backdrop-filter: $backdrop-filter-blur;
}
