$primary-color: #781ae4;
$primary-gradient-color: #f43b47;
$secondary-gradient-color: #2714bd;
$text-color: #18293c;
$aqua: #0cf0d1;
$white: #ffffff;
$orange: #ffa500;
$backdrop-filter-blur: blur(5px);
$white-alpha-40: rgba(255, 255, 255, 0.4);
$white-alpha-25: rgba(255, 255, 255, 0.25);
