@use '../../assets/scss/variables.scss' as *;

.p-about {
  padding-top: 80px;
  padding-bottom: 80px;

  &__row {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 920px) {
      flex-direction: column;
    }
  }

  &__contentTitle {
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 40px;
    text-transform: capitalize;
  }

  &__imgContent {
    width: 40%;
    height: 100%;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;

    @media screen and (max-width: 920px) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__imgBox {
    overflow: hidden;
    max-width: 380px;
    margin-left: auto;
    position: relative;
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid $white-alpha-40;
    background-color: $white-alpha-25;
  }

  &__textImg {
    top: 100px;
    right: 40px;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    border-radius: 5px;
    background-color: $white-alpha-25;

    &::after {
      left: -30px;
      bottom: 20%;
      content: '';
      position: absolute;
      border-top: 15px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid $white-alpha-25;
    }
  }

  &__img {
    width: 100%;
  }

  &__textContainer {
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (max-width: 920px) {
      width: 100%;
    }
  }

  &__titleSkills {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
  }

  &__skillItem {
    padding: 5px 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    text-transform: capitalize;
    border: 1px solid $white-alpha-40;
    background-color: $white-alpha-25;
  }

  &__tabs {
    margin-top: 20px;
  }

  &__tabItem {
    border: none;
    opacity: 0.5;
    cursor: pointer;
    font-size: 20px;
    padding-top: 2px;
    font-weight: 500;
    color: $text-color;
    position: relative;
    padding-bottom: 2px;
    display: inline-block;
    transition: all 0.3 ease;
    text-transform: capitalize;
    background-color: transparent;

    &.active {
      opacity: 1;
      cursor: auto;
      color: $primary-color;

      &::before {
        width: 100%;
        background-color: $primary-color;
      }
    }

    &:first-child {
      margin-right: 30px;
    }

    &::before {
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      content: '';
      position: absolute;
      transition: width 0.3s ease;
      background-color: $text-color;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__buttons {
    @media screen and (max-width: 420px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    user-select: none;

    &:last-child {
      margin-left: 15px;

      @media screen and (max-width: 420px) {
        margin-left: 0;
        margin-top: 1rem;
      }
    }

    @media screen and (max-width: 420px) {
      text-align: center;
    }
  }
}
