.p-contact {
  padding-top: 80px;
  padding-bottom: 80px;

  &__alert {
    padding: 20px;
    margin-top: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid $white;
    background-color: $white-alpha-25;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;

    &:not(.--form) {
      @media screen and (max-width: 920px) {
        flex-direction: column-reverse;
      }
    }
  }

  &__contentTitle {
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 40px;
    text-transform: capitalize;
  }

  &__containerForm,
  &__containerInfo {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (max-width: 920px) {
      width: 100%;
    }
  }

  &__inputGroup {
    width: 100%;
    margin-bottom: 30px;
  }

  &__inputControl {
    width: 100%;
    height: 50px;
    border: none;
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    border-radius: 25px;
    padding-right: 20px;
    font-family: inherit;
    color: $text-color;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    background-color: $white-alpha-25;

    &.--textArea {
      resize: none;
      height: 120px;
      padding-top: 15px;
    }

    &::placeholder {
      opacity: 0.6;
      color: $text-color;
    }

    &:focus {
      border-color: $white-alpha-40;
    }
  }

  &__sendButton {
    width: 100%;

    @media screen and (max-width: 920px) {
      display: flex;
      justify-content: center;
    }
  }

  &__infoItem {
    padding-left: 20px;
    margin-bottom: 30px;

    &Title {
      font-size: 20px;
      margin-bottom: 5px;
      text-transform: capitalize;
    }

    p > a {
      color: $primary-color;
    }
  }

  &__socialLink {
    width: 40px;
    height: 40px;
    margin-top: 6px;
    margin-right: 4px;
    border-radius: 50%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: $primary-color;
    transition: all 0.3s ease;
    border: 1px solid $white-alpha-40;
    background-color: $white-alpha-25;

    &:hover {
      color: $white;
      border-color: transparent;
      background-color: $primary-color;
    }
  }
}
