.portfolioCard {
  margin: 10px;
  min-width: 270px;
  width: calc((100% / 3) - 30px);

  &__thumbnail {
    padding: 10px;
    border-radius: 10px;
    background-color: $white-alpha-25;
    border: 1px solid $white-alpha-40;
  }

  &__containerImage {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }

  &__image {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(110%) rotateZ(-1deg);
    }
  }

  &__title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}
